@charset "ISO-8859-1";
body {
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.login-form {
                        width: 500px;
                        
                          font-size: 15px;
                    }
                    .login-form form {
                        
                        background: #f7f7f7;
                        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                        padding: 30px;
                    }
                    .login-form h2 {
                        margin: 0 0 0px;
                    }
                    .form-control, .btn {
                        min-height: 38px;
                        border-radius: 2px;
                    }
                    .btn {        
                        font-size: 15px;
                        font-weight: bold;
                    }
                    .childDivs {
                        margin-top: 1rem;
                    }
                    .border {
                        border: 2px solid #f9fafb!important;
                    }
                    
label {
	color: white
	
}